@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>

<a href="#" id="getTweets">Get Tweets</a>
<div id="getTweetsResult"></div>

@section Scripts {
<script type="text/javascript">
    $(function () {
        $('#getTweets').click(function () {
            $.get('/Home/GetTweets', function (data) {
                $('#getTweetsResult').html(data);
            });
            return false;
        });
    });
</script>
}
